<!DOCTYPE html>
<html>

<head>
  <title>Groot | Sign-up</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/froala_blocks.css')}}">

<body>
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 m-md-auto ml-lg-0 col-lg-5">
          <img alt="image" class="img-fluid" src="{{url_for('static', filename='imgs/draws/group-chat.svg')}}">
        </div>
        <div class="col-12 col-md-10 col-lg-6 mt-4 mt-lg-0 ml-auto mr-auto ml-lg-auto text-left">
          <div class="fdb-box fdb-touch">
            <div class="row">
              <div class="col">
                <h1 class="text-center">Register</h1>
                <p class="text-center">{{error}}</p>
                {%with messages = get_flashed_messages(with_categories=true)%}
                {%if messages%}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                  {{message}}
                </div>
                {%endfor%}
                {%endif%}
                {%endwith%}
              </div>
            </div>
            <!--<form action="" method="post">
              <input type="text" name="name" value="{{request.form.name}}">
              <input type="submit" class="btn btn-primary" type="submit" value="Register">
            </form>-->
            <form action="" method="post">
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="col mt-4">
                  <!--<input type="text" class="form-control" placeholder="Name" name="name" value="{{request.form.name}}">-->
                  {{ form.name.label(class="form-control-label")}}
                  {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid")}}
                    <div>
                      {% for error in form.name.errors %}
                        <span>{{error}}</span>
                      {% endfor %}
                    </div>
                  {% else %} 
                    {{ form.name(class="form-control")}}
                  {% endif %}
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <!--<input type="text" class="form-control" placeholder="Email" name="email"
                    value="{{request.form.email}}">-->
                  {{ form.email.label(class="form-control-label")}}
                  {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid")}}
                    <div>
                      {% for error in form.email.errors %}
                        <span>{{error}}</span>
                      {% endfor %}
                    </div>
                  {% else %} 
                    {{ form.email(class="form-control")}}
                  {% endif %}
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <!--<input type="password" class="form-control mb-1" placeholder="Password" name="email"
                    value="{{request.form.password}}">
                  <p class="text-right"><a href="/login/">Already have an account?</a></p>-->
                  {{ form.password.label(class="form-control-label")}}
                  {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid")}}
                    <div>
                      {% for error in form.password.errors %}
                        <span>{{error}}</span>
                      {% endfor %}
                    </div>
                  {% else %} 
                    {{ form.password(class="form-control")}}
                  {% endif %}
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <!--<input type="password" class="form-control mb-1" placeholder="Password" name="email"
                    value="{{request.form.password}}">
                  -->
                  {{ form.confirm_password.label(class="form-control-label")}}
                  {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid")}}
                    <div>
                      {% for error in form.confirm_password.errors %}
                        <span>{{error}}</span>
                      {% endfor %}
                    </div>
                  {% else %} 
                    {{ form.confirm_password(class="form-control")}}
                  {% endif %}
                </div>
              </div>
              <div class="row mt-4">
                <div class="col text-center">
                  <!--<input type="submit" class="btn btn-primary" type="submit" value="Register">-->
                  {{ form.submit(class="btn btn-primary")}}
                </div>
              </div>
            </form>
            <div class=" pt-2">
              <small class="text-muted">
                <a href="/login/">Already have an account?</a></p>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>